body {
    background: radial-gradient(red, darkred);
    margin: 0;
    font-family: Calibri, serif;
    color: indianred;
}

h1 {
    margin-top:0;
}

#content {
    background-color: white;
    width: 1000px;
    margin: 0 auto;
    min-height: 600px;
    padding: 32px;
}

#indexDiv {
    background-color: transparent;
    width: 80px;
    margin: 0;
    padding: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

label.User{
    font-family: "Courier New", serif;
    font-weight: bold;
}

label.Pass{
    font-family: "Courier New", serif;
    font-weight: bold;
}
/*button stuff----------------------------------------------------------------------------------------------------------------*/
.playbutton {
    box-shadow:inset 0px 0px 0px 0px #f55670;
    background:linear-gradient(to bottom, #bd0000 5%, #140040 100%);
    background-color:#bd0000;
    border-radius:40px;
    display:inline-block;
    cursor:pointer;
    color:#000000;
    font-family:fantasy;
    font-size:21px;
    padding:17px 56px;
    text-decoration:none;
    text-shadow:0px 1px 0px #fc0808;
    margin-bottom: 30px;
}
.playbutton :hover {
    background:linear-gradient(to bottom, #140040 5%, #bd0000 100%);
    background-color:#140040;
}
.playbutton :active {
    position: relative;
    top: 1px;
}

.mySlides {
    display: inline-flex;
    z-index: -1;
    height: 100%;
    width: 100%;
    position: fixed;
}

.w3-content,.w3-auto{
    margin-left:0;
    margin-right:0
}

.w3-content{
    max-width:100%
}

.w3-auto{
    max-width:100%
}

.w3-section,.w3-code{
    margin-top:80px!important;
    margin-bottom:0!important


}

/*table stuff----------------------------------------------------------------------------------------------------------------*/
tr {
    text-align: center;
}

td {
    text-align: left;
}

th {
    text-align: left;
}

td.last {
    text-align: right;
}

th.last {
    text-align: right;
}

table {
    width: 100%;
    background-color:#f8f8f8;
}
/*navigation bar----------------------------------------------------------------------------------*/

.nav{
    list-style-type: none;
    padding: 15px;
    background-color: white;
    overflow: hidden;
    display: inline-block;
    align-items: center;
    width: 100%;


}

.nav li{
    display: inline-block;
    width: 150px;
    float: left;
    margin: 5px;
}

.nav li a{
    color: crimson;
    text-decoration: none;
}

header img{
    height: 80px;
    margin-left: 20px;
    margin-right: 20px;
}

header {

    display: inline-flex;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    align-items: center;
}
mark {
    background-color: transparent;
    color: crimson;
    font-weight: bold;
}
/*----------------------------------------------------------------------------------*/

.mainbuttons {
    background-color: transparent;
    border: 1px solid lightskyblue;
    display: block;
    color: #666;
    padding: 10px;
    margin: 0px;
    text-decoration: none;
    box-shadow: 0 3px 5px 5px rgba(12,10,23,0.05);
    max-width: 150px;
    border-radius: 5px;
    float: right;
}


.mainbuttons:hover {
    -webkit-text-fill-color: ghostwhite;
    background-image: linear-gradient(270deg, lightskyblue, cornflowerblue);
}

/*login and logout----------------------------------------------------------------------------------*/

.loginDiv {

    padding: 10px;
    font-size: 14pt;
    margin-top: 40px;
    margin-left: 35%;
    align-content: center;

}

#username, #password {
    margin-left: 20px;
    font-size: 14pt;
}

#loginButton {
    width: 200px;
    background-color: silver;
    border-radius: 10px;
}

#loginButton:hover {
    background-color: dodgerblue;
}

#loggedInDetails {
    color: crimson;
}

#hideConfig{
    visibility: hidden;
}
/*-------------------------------------------------------------------------------------------------------*/


